body {
    background-color: rgb(21, 184, 196);
}

.logo {
    align-items: center;
    background-color: rgb(40, 85, 209);
    border-radius: 25%;
    box-shadow: 3px 3px 5px #000000;
    box-sizing: border-box;
    color: rgb(247, 243, 243);
    display: flex;
    font-size: 3.5rem;
    height: 5rem;
    justify-content: center;
    margin: auto;
    padding: 0 0 6px 0;
    width: 5rem;
}

h1,
.logo,
.btn-primary {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}